<!DOCTYPE html>
<html>
    <head>
        <!-- Javascript -->
        <script src="~/Content/Javascript/JQuery/jquery-3.2.1.js"></script>
        <script src="~/Content/Javascript/Bootstrap/bootstrap.min.js"></script>

        <!-- Bootstrap CSS files -->
        <link href="~/Content/Styles/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Rendered Content -->
        @RenderBody()
    </body>
</html>